#band-members
  display: block
  text-align: center
  margin: 0 auto

  li
    display: inline-block
    color: $colorMain
    font-style: italic
    margin-right: 3.4em
    text-align: left

    &:last-of-type
      margin-right: 0


  @media (max-width: 990px)
    max-width: 800px

    li
      margin: 1.2em 1.8em 0

      &:last-of-type
        margin-right: 1.8em

  @media (max-width: 390px)
    li
      width: 100%
      text-align: center
      margin: 0 0 1.2em

      &:last-of-type
        margin: 0 0 0 0 
