#wrap
  width: 100%
  max-width: 1400px
  min-height: 1000px
  margin: 0 auto
  background: $black url('../images/background-darker.jpg') no-repeat center top
  background-size: 100% auto
  position: relative

  @media (min-height: 930px) and (min-width: 1300px)
    background-image: url('../images/background.jpg')

  @media (max-width: 450px)
    background-size: 120% auto
    margin-top: 3.8em

    #social
      top: -3.8em

    #contact-us-cta
      top: -3.4em
      
