:root {
  --color-text-1: #fff;
  --color-text-2: rgb(187, 187, 187);
  --color-text-3: rgb(97, 97, 97);
  --color-surface-1: rgb(21, 21, 21);
  --color-surface-2: rgb(36, 36, 36);
  --font-family-1: 'Montserrat', sans-serif;
  --font-size-title-1: 2.5rem;
  --font-size-title-2: 2rem;
  --font-size-body-1: 1rem;
  --font-size-body-2: 0.8rem;
  --max-width: 1200px;
  --spacing-half: 0.5rem;
  --spacing: 1rem;
  --spacing-negative: -1rem;
  --spacing-double: 2rem;
}

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

img {
  display: block;
  width: 100%;
  margin: 0 0 var(--spacing);
}

body {
  color: var(--color-text-1);
  background: var(--color-surface-1);
  font-family: var(--font-family-1);
  font-size: var(--font-size-body-1);
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  background: var(--color-surface-2);
  margin: var(--spacing-double) 0;
}

p {
  margin: 0 0 var(--spacing);
  color: var(--color-text-2);
}

.blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 600px) {
    margin-left: -1rem;
    margin-right: -1rem;
    gap: 1rem;
  }
}

.iframe-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  aspect-ratio: 582 / 545;

  iframe {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  @media (max-width: 1100px) {
    aspect-ratio: 1 / 0.95;
  }

  @media (max-width: 900px) {
    aspect-ratio: unset;
    height: 370px;

    &.instagram {
      aspect-ratio: 1 / 0.85;
      height: unset;
    }
  }

  @media (max-width: 750px) {
    &.instagram {
      aspect-ratio: 1 / 0.925;
      height: unset;
    }
  }

  @media (max-width: 620px) {
    &.instagram {
      aspect-ratio: 1 / 0.95;
      height: unset;
    }
  }

  @media (max-width: 550px) {
    &.instagram {
      aspect-ratio: 1 / 0.975;
      height: unset;
    }
  }

  @media (max-width: 450px) {
    &.instagram {
      aspect-ratio: 1 / 1.025;
      height: unset;
    }
  }

  @media (max-width: 400px) {
    &.instagram {
      aspect-ratio: 1 / 1.1;
      height: unset;
    }
  }
}

.iframe-wrapper.instagram:has(.loading) {
  iframe {
    opacity: 0;
  }
}

.iframe-wrapper iframe {
  width: 100% !important;
  position: relative !important;
  transition: opacity 300ms;
  min-height: 10rem;
}

.iframe-wrapper .loading {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  position: absolute;
  inset: 0;
  margin: auto;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link {
  display: inline-block;
  color: var(--color-text-1);
  font-weight: 700;
  cursor: pointer;
  transition: color 150ms;
}
.link:hover {
  color: var(--color-text-2);
}

.header {
  display: flex;
  align-items: center;
  padding: var(--spacing-half);
  position: sticky;
  top: 0;
  background: var(--color-surface-1);
  box-shadow: 0 0 30px 15px var(--color-surface-1);
}

.header__logo {
  display: block;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  margin-right: auto;
}

.center {
  text-align: center;
}

.small {
  font-size: var(--font-size-body-2);
}

section,
footer {
  padding: var(--spacing-double) var(--spacing-double) var(--spacing) var(--spacing-double);
}

section {
  border-bottom: 2px solid var(--color-surface-2);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url(/images/background.jpg);
  background-position: right 2rem;
  background-size: auto 1250px;
  background-repeat: no-repeat;
}

.wrapper__content {
  width: 100%;
  flex: 1 0 auto;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.split {
  display: flex;
  margin: 0 var(--spacing-negative);
}

.split > * {
  flex: 1;
  width: auto;
  min-width: 0;
  margin: 0 var(--spacing);
}

.logo {
  display: block;
  max-width: 14rem;
  margin: 0 auto var(--spacing-double);
}

.button {
  display: inline-block;
  padding: var(--spacing) var(--spacing-double);
  font-weight: 700;
  text-transform: uppercase;
  background: var(--color-text-1);
  color: var(--color-surface-1);
  margin: 0 0 var(--spacing);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--color-text-2);
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 var(--spacing);
  letter-spacing: 0.2em;
  color: var(--color-text-3);
}

.title--1 {
  font-size: var(--font-size-title-1);
  line-height: 1.1;
}

.title--2 {
  font-size: var(--font-size-title-2);
  line-height: 1.2;
}

.band-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1;
  margin: 0 0 var(--spacing);
  text-transform: uppercase;
}

.band-title span {
  white-space: nowrap;
}

.icon-nav {
  display: flex;
}

.icon-nav li {
  width: 2.5rem;
  height: 1.5rem;
}

.icon-nav a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  cursor: pointer;
  transition: opacity 150ms;
  padding: 0 var(--spacing-half);
  opacity: 0.5;
}

.icon-nav a:hover,
.icon-nav a:focus {
  opacity: 1;
}

.icon-nav img {
  display: block;
  width: 100%;
}

@media (max-width: 1000px) {
  .split {
    display: block;
  }

  .split > * {
    padding-bottom: var(--spacing);
  }

  .split > *:last-child {
    padding-bottom: 0;
  }

  .icon-nav {
    justify-content: center;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 16px;
  }

  .band-title {
    font-size: 2.8rem;
  }

  .band-title span {
    display: block;
    font-size: 0.51em;
  }
}

@media (max-width: 700px) {
  .wrapper {
    background-position: 80% top;
    background-size: auto 900px;
  }
}
