.fifty-fifty
  clearfix()

  @media (max-width: 690px)
    .fifty-fifty__left,
    .fifty-fifty__right
      float: none
      width: 100%
      padding: 0

    .fifty-fifty__left
      margin-bottom: 3.6em

.fifty-fifty__left
  float: left
  width: 50%
  padding-right: 1.8em

.fifty-fifty__right
  float: right
  width: 50%
  padding-left: 1.8em
