.icon-nav
  list-style: none
  display: inline-block
  height: 3.8em
  padding: 1.2em

  li
    display: inline-block
    height: 100%
    margin-right: 0.6em
    cursor: pointer

  a
    display: inline-block
    height: 100%

    &:hover
      opacity: 0.5

  img
    display: block
    height: 100%
