.button
  display: inline-block
  padding: 1em 1.2em
  color: $white
  cursor: pointer
  font-weight: 700
  font-style: italic
  text-transform: uppercase
  border-bottom: none

.button--dark
  color: $white
  background: $black
